.poppin {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}
.username {
  font-size: 72px;
}
.foll {
  font-size: 40px;
  color: #424242;
}
.num {
  font-size: 30px;
  color: #525151;
}

.postcard {
  height: 12rem;
  border-radius: 21px;
  background-color: #f8f8f8;
  border-style: solid;
}

.postimg {
  height: 12rem;
  width: 12rem;
  border-radius: 21px;
}
.iconbar {
  width: 1.5rem;
  height: 1.5rem;
}

.iconCom {
  margin-right: 20px;
  display: flex;
  justify-content: space-start;
  flex-direction: row;
}

.iconCom div {
  margin-right: 15px;
}

.author {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
